
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reservation(s)</title>
  <link rel="stylesheet" href="/styles/order.css">
</head>
<body>
  <header class="header">
    <div class="left">
      
    </div>
    <div class="center">
      <div class="container2">
        <p class="welcome">
          All bookings
        </p>
       <a href="/bentley/"><img src="/images/logos/Bentley's logo2.jpg" class="logo"></a> 
      </div>
    </div>
    <div class="right"></div>
 </header>
  
  <div class="main"> 
    <div class="section1 ">
     <% if(orders1.length > 0){ %> 
     
      <% orders1.forEach((order)=>{ %>
    
        <div class="head-section">
          <div class="order-placed">
           <div>Order Placed:</div>
           <div><%= order.updatedAt.toDateString() %></div>
         </div>
         <div class="total">
           <div>Total Amount:</div>
           <div>R<%= order.total %></div>
         </div>
         <div class="total">
          <div>Breakfast:</div>
          <div>R<%= order.option %></div>
        </div>
         <div class="order-id">
           <div>Order ID:</div>
           <div><%= order._id %></div>
         </div> 
       </div>
    
       <% let matchingRoom; %>
       <% order.cart.forEach((cartItem)=>{ %>
          <% rooms.forEach((room)=>{ %>
              <%  if ( cartItem.roomId === room.id) { %>
               <% matchingRoom = room; %>
              <% } %>
          <% }) %>
        <div class="main-section">
          <div class="image-contain">
             <img class="image-room" src="/<%= matchingRoom.image %>">
           </div>
           <div class="details-container">
             <div>Room Type: <%= matchingRoom.type %></div>
             <div>Number of rooms: <%= cartItem.quantity %></div>
             <div>Pax: <%= cartItem.pax %></div>
             <div>Checkin date: <%= cartItem.checkin %></div>
             <div>Checkout date: <%= cartItem.checkout %></div>
           </div>
       </div>
        <% }) %>
      <% }) %> 
      <% } %>
      <div>
        <button class="btn">Delete All</button>
       </div>
    </div>
  </div>
</body>
</html>